#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        binars: binars {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp N1 &kp N1 &kp N0 &kp N0 &kp N1 &kp N0 &kp N0 &kp N1 &kp RET>;
            label = "BINARS";
        };

        goog: goog {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp N &kp LS(D) &kp Q &kp B &kp W &kp N2 &kp LS(S) &kp N6 &kp N7 &kp N5 &kp LS(O) &kp W &kp RET>;
            label = "GOOG";
        };

        emp: emp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp F &kp R &kp LS(X) &kp K &kp J &kp N6 &kp COMMA &kp N7 &kp I &kp LS(D) &kp LS(R) &kp LS(A) &kp F &kp DLLR &kp RET>;
            label = "EMP";
        };

        karate: karate {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(K) &kp U &kp N &kp G &kp F &kp U &kp N4 &kp N2 &kp DLLR &kp AT &kp RET>;
            label = "KARATE";
        };

        cpanel: cpanel {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp N0 &kp V &kp N8 &kp LS(R) &kp E &kp O &kp PRCNT &kp N2 &kp RET>;
            label = "CPANEL";
        };

        rachael: rachael {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(H) &kp R &kp A &kp K &kp A &kp N1 &kp N4 &kp N4 &kp EXCL &kp DLLR &kp DLLR &kp RET>;
            label = "RACHAEL";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&mo 1  &mo 2  &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &mo 1  &mo 2  &kp NUMBER_0
            >;
        };

        passes {
            bindings = <
&trans  &rachael  &karate  &cpanel  &emp  &goog  &binars  &trans  &rachael  &karate
            >;
        };

        media {
            bindings = <
&kp LC(LS(M))  &trans  &kp LG(M)  &kp C_VOLUME_UP  &kp C_VOLUME_DOWN  &kp C_PLAY_PAUSE  &kp C_MUTE  &kp LC(LS(M))  &trans  &kp LG(M)
            >;
        };
    };
};
